h1 {
  text-align: center;
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-wrap: wrap;

  width: 40rem;
  height: 40rem;
  margin: auto;

  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.square {
  border-style: solid;
  border-color: rgb(206, 204, 204);
  border-width: thin;
  box-sizing: border-box;
}

.square:hover {
  background-color: rgb(214, 214, 214);
}

.painted {
  background-color: rgb(235, 55, 205);
}

.square.painted:hover {
  background-color: rgb(235, 55, 205);
  opacity: 80%;
}
