h1 {
  text-align: center;
  margin-bottom: 10px;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 40rem;
  height: 40rem;
  margin: auto;

  border-color: black;
  border-width: 1px;
  border-style: solid;
}

.square {
  border-style: solid;
  border-color: rgb(206, 204, 204);
  border-width: thin;
  box-sizing: border-box;
}

.hover {
  background-color: rgb(238, 237, 237);
}

.clicked {
  background-color: rgb(46, 46, 46);
}
